body{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Figtree", serif;
  background-color:hsl(47, 88%, 63%);
}

a {
    color: black;
    text-decoration: none;
}
.preview-card-container {
    width: 334px;
    height: 543px;
    background-color:hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px hsl(0, 0%, 7%);
    padding: 1.2rem;
    margin: 3rem auto;
}

.preview-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-card-img img {
    border-radius: 10px;
}

.preview-card-test {
    margin-top: 1.2rem;
    margin-left: 5px;
}

.yellow-bg {
    background-color: rgb(245, 190, 61);
    padding: 2px 10px;
    border-radius: 1px;
    width: 90px;
    margin-top: 1.5rem;
    height: 50px;
}

.published-date {
    font-size: 14px;
    font-weight: 540;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.blog-post-title {
    font-size: 24px;
    font-weight: 800;
    margin-top: .7rem;
    margin-bottom: 1rem;
    transition: .2s ease-in;
}

.blog-post-title:hover{
    color: hsl(47, 88%, 63%);
}

.preview-text {
    color:  hsl(0, 0%, 42%);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.blog-post-avatar-container {
    display: flex;
    margin-top: 4rem;
    align-items: center;
}

.blog-post-avatar-container h4 {
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 800;
}

/* 


MOBILE QUARIES 



*/

@media screen and (max-width:500px) {
    .preview-card-container {
        width: 90%;
        margin: 2rem auto;
    }

    .preview-card-img img {
        width: 100%;
    }
}